<body>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <div class="chats">
    <div class="chat">
      <div class="group">
        <div class="name">Robby：</div>
        <div class="msg">Hi~</div>
      </div>
      <div class="time">11分鐘前</div>
    </div>
    <div class="chat">
      <div class="group">
        <div class="name">Robby：</div>
        <div class="msg">Hola~</div>
      </div>
      <div class="time">10分鐘前</div>
    </div>
  </div>
  <div class="message">
    <input id="chatName" type="text" placeholder="your name" />
    <input id="chatMsg" type="text" placeholder="input the message" />
    <button id="msgButton" type="button">送出</button>
  </div>
</body>

{{!-- chatroom --}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script src="/javascripts/chatroom.js"></script>