.nav-box {
  width: 72px;
}
.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-fw {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.fa-crow {
  color: #1DA1F2;
}

.content-body {
  max-width: 576px;
}

@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 1200px) {
  .nav-box {
    width: 140px;
  }
}